In [31]:
import pandas as pd
from googletrans import Translator
translator = Translator()
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /home/reindrairawan/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [32]:
databersih = pd.read_csv('/media/reindrairawan/New Volume/Data E/REPOSITORY/PYTHON/ProjectKuliah/NLP/ProjectUas(Sentimen_Analisis)/preprocessing/dataset bersih.csv')
databersih.head()

                                              output
0  gue suprise sih citayam fashion week issuenya ...
1  rt thefirstxxviii nahh pdhal dri kagak tuh bik...
2  rt valosenadya ayo dng jujur yg citayam fashio...
3  rt suckerzpunch nih rapper ga laku dalem hati ...
4  nasi citayam fashion week videodreamcoid video...

In [ ]:
databersih['output']
databersih['english'] = databersih['output'].apply(translator.translate, src='id', dest='en').apply(getattr, args=('text',))
databersih

In [ ]:
sid = SentimentIntensityAnalyzer()

data = {
    interaction_id: sid.polarity_scores(
        ' '.join(databersih[databersih['english'] == interaction_id]['english'])
    )
    for interaction_id in databersih['english'].unique()
}


df = pd.DataFrame.from_dict(data, orient='index')
# df.to_csv("sentimenenglish.csv")
df

In [38]:
df = pd.read_csv('/media/reindrairawan/New Volume/Data E/REPOSITORY/PYTHON/ProjectKuliah/NLP/ProjectUas(Sentimen_Analisis)/modelSentimen/sentimenenglish.csv')
# df = pd.read_csv('/media/reindrairawan/New Volume/Data E/REPOSITORY/PYTHON/ProjectKuliah/NLP/ProjectUas(Sentimen_Analisis)/modelSentimen/sentimenindonesia.csv')
df

,Unnamed: 0,neg,neu,pos,compound
0,I'm surprised that Citayam Fashion Week is the...,0.140,0.676,0.184,0.2910
1,rt thefirstxxviii nahh even though dri didn't ...,0.064,0.936,0.000,-0.0572
2,"rt valosenadya, let's be honest, scbd fashion ...",0.000,0.602,0.398,0.7650
3,"rt suckerzpunch, this rapper doesn't sell well...",0.068,0.786,0.146,0.2684
4,nasi citayam fashion week videodreamcoid video...,0.000,1.000,0.000,0.0000
...,...,...,...,...,...
1444,there's nothing wrong with scbd citayam fashio...,0.000,0.677,0.323,0.9355
1445,the trend called citayam fashion week in scbd ...,0.000,1.000,0.000,0.0000
1446,"RT Vivacoid, Dukuh area full of teenagers, hol...",0.000,1.000,0.000,0.0000
1447,they say scbd fashion week is cool too don't g...,0.000,0.777,0.223,0.8020
1448,tbh scbd citayam fashion week is pretty good r...,0.061,0.799,0.141,0.3182

In [39]:
df['comp_score'] = df['compound'].apply(lambda c: 'pos' if c >=0.1 else ('neg' if c <0 else 'neu')) 
df

,Unnamed: 0,neg,neu,pos,compound,comp_score
0,I'm surprised that Citayam Fashion Week is the...,0.140,0.676,0.184,0.2910,pos
1,rt thefirstxxviii nahh even though dri didn't ...,0.064,0.936,0.000,-0.0572,neg
2,"rt valosenadya, let's be honest, scbd fashion ...",0.000,0.602,0.398,0.7650,pos
3,"rt suckerzpunch, this rapper doesn't sell well...",0.068,0.786,0.146,0.2684,pos
4,nasi citayam fashion week videodreamcoid video...,0.000,1.000,0.000,0.0000,neu
...,...,...,...,...,...,...
1444,there's nothing wrong with scbd citayam fashio...,0.000,0.677,0.323,0.9355,pos
1445,the trend called citayam fashion week in scbd ...,0.000,1.000,0.000,0.0000,neu
1446,"RT Vivacoid, Dukuh area full of teenagers, hol...",0.000,1.000,0.000,0.0000,neu
1447,they say scbd fashion week is cool too don't g...,0.000,0.777,0.223,0.8020,pos
1448,tbh scbd citayam fashion week is pretty good r...,0.061,0.799,0.141,0.3182,pos

In [40]:
df['comp_score'].value_counts()

neu    627
pos    596
neg    226
Name: comp_score, dtype: int64

In [37]:

df
df = df.to_csv("hasilsentimenindonesia.csv",index=False)